<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link th:href="@{/css/bootstrap-theme.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap-theme.css">
    <link th:href="@{/css/templatemo_style.css}" rel="stylesheet" type="text/css" href="../static/css/templatemo_style.css">
    </body>
</head>
<body class="templatemo-bg-gray">
<h1 class="margin-bottom-15">志愿填报</h1>
<div class="container">
    <div class="col-md-12">
        <form class="form-horizontal templatemo-create-account templatemo-container" role="form" action="/login" method="post" >
            <div class="form-inner">
                <div class="form-group">

                    <div class="col-md-6">
                        <label for="stName" class="control-label">学生姓名</label>
                        <input type="text" class="form-control" id="stName" placeholder="请输入学生姓名" name="stName" th:value="${loginVo?.stName}">
                    </div>
                    <div class="col-md-6">
                        <label for="stGrade" class="control-label">学生分数</label>
                        <input type="text" class="form-control" id="stGrade" placeholder="请输入学生分数" name="stGrade" th:value="${loginVo?.stGrade}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label for="stidno" class="control-label">学生身份证号</label>
                        <input type="text" class="form-control" id="stidno" placeholder="请输入学生身份证号" name="stIdno" th:value="${loginVo?.stIdno}">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <label for="teacher" class="control-label">咨询师编号</label>
                        <input type="text" class="form-control" id="teacher" placeholder="请输入质询师编号" name="teacher" th:value="${loginVo?.teacher}" >
                    </div>
                    <div class="col-md-6">
                        <label for="secret" class="control-label">密码</label>
                        <input type="password" class="form-control" id="secret" placeholder="请输入密码" name="secret">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="submit" value="开始" class="btn btn-info btn-primary btn-block">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <label th:text="${error}">error</label>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>