<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/js/jquery.min.js}" src="../static/js/jquery.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>
    <script th:src="@{/js/bootstrap-pager.js}" src="../static/js/bootstrap-pager.js"></script>
    <script th:src="@{/js/compare.js}" src="../static/js/compare.js"></script>
    <script th:src="@{/js/jquery.cookie.js}" src="../static/js/jquery.cookie.js"></script>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link th:href="@{/css/bootstrap-pager.css}" rel="stylesheet" type="text/css" href="../static/css/bootstrap-pager.css">
    <link th:href="@{/css/Index.css}" rel="stylesheet" type="text/css" href="../static/css/Index.css"/>
</head>
<body>
<div th:insert="layout/head :: head"></div>
<div>
    <table  class="table table-striped table-bordered table-hover ">
        <tr>
            <th>学校名称</th>
            <th>专业名称</th>
            <th>地区</th>
            <th>文理</th>
            <th>批次</th>
            <th>位次2017</th>
            <th>位次2016</th>
            <th>位次2015</th>
            <th>位次2014</th>
            <th>位次2013</th>

            <th>分数2017</th>
            <th>分数2016</th>
            <th>分数2015</th>
            <th>分数2014</th>
            <th>分数2013</th>
            <th>招生人数2016</th>
            <th>加入备选</th>
            <th style="color: red;font-weight: bold">预测分数2018</th>
        </tr>

     
        <tr th:each="zhuanye : ${page.list}">


            <td><!--/*@thymesVar id="zhuanye" type="ku6.tv.gaokao.model.Zhuanye"*/-->
            <a href="" th:href="@{/details/{id}(id=${zhuanye.xuexiaoid})}" th:text="${zhuanye.xuexiaomingcheng}"></a></td>
            <td th:text="*{zhuanye.zhuanyemingcheng}">北京</td>
            <td th:text="${zhuanye.diqu}">北京</td>
            <td th:text="${zhuanye.wenli}">公办</td>
            <td th:text="${zhuanye.pici}">公办</td>
            <td th:text="${zhuanye.weici2017}">公办</td>
            <td th:text="${zhuanye.weici2016}">公办</td>
            <td th:text="${zhuanye.weici2015}">公办</td>
            <td th:text="${zhuanye.weici2014}">公办</td>
            <td th:text="${zhuanye.weici2013}">公办</td>

            <td th:text="${#numbers.formatDecimal(zhuanye.fenshu2017, 1, 0)}">公办</td>
            <td th:text="${#numbers.formatDecimal(zhuanye.fenshu2016, 1, 0)}">公办</td>
            <td th:text="${#numbers.formatDecimal(zhuanye.fenshu2015, 1, 0)}">公办</td>
            <td th:text="${#numbers.formatDecimal(zhuanye.fenshu2014, 1, 0)}">公办</td>
            <td th:text="${#numbers.formatDecimal(zhuanye.fenshu2013, 1, 0)}">公办</td>
            <td th:text="${zhuanye.zhaoshenreshu2016}">公办</td>
            <td><input th:value="${zhuanye.xuexiaoid}" th:data="${zhuanye.xuexiaomingcheng}" th:zhuanye="${zhuanye.zhuanyemingcheng}" class="duibi" type="checkbox" th:id="${zhuanye.xuexiaoid}"></td>
            <td  th:text="${#numbers.formatDecimal(zhuanye.yucefenshu2018, 1, 0)}" style="color: red;font-weight: bold">公办</td>
        </tr>
    </table>
    <div class="container">
        <div class="row">
            <div id="page-container-static-normal"></div>
        </div>
    </div>
</div>
<script>
    $("#page-container-static-normal").page({
        count:[[${page.pages}]],
        pageSize:[[${page.size}]],
        pageNum:[[${page.pageNum}]],
        theme:"big"
    });
    $("#page-container-static-normal").on("pageChanged",function (event,params) {
        window.location.href='http://'+window.location.host+'/zyfind/'+params.pageNum
        $(this).data("page").refresh(params);
    })
</script>

</body>
</html>